.hidden {
  display: none;
}

.flex {
  display: flex;
}

#board {
  /*background-color: grey;*/
  /*padding: 5vh;*/
  /*margin: 0px auto;*/
  min-width: 804px;
  max-width: 100%;
  /*height: 100vh;*/
  min-height: 585px;
  max-height: 535px;
  /*text-align: center;*/
  flex-grow: 1;
  /*display: flex;*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media all and (orientation:landscape) {
  #board { flex-direction:column; }
}

@media all and (orientation:portrait) {
  #board { flex-direction:row; }
}

.row {
  display: flex;

}

.card, #dealer {
  /*display: inline-block; /* to center in board */
  /*display: flex;
  flex-wrap: column;
  align-items: center; /* vertical
  justify-content: center; /* horizontal */
  margin: 10px;
  width: 110px;
  height: 170px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  /*position: relative;
  margin: 1%;
  width: 10%;
  height: 30%;
  padding: 10px;*/
  cursor:pointer; /* makes hand cursor to show clickable */
}

/*.card:before { /* for maintaining card aspect ratio
  content: "";
	display: block;
	padding-top: 156%; 	/* 3.5":2.25" h:w ratio... 3.5/2.25 = 1.55556
}*/

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
  /*position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 20%;
}*/

.markers {
  position: absolute;
  top: -10px;
  left: 0px;
  right: 0px;
  text-align:center;
}

.marker {
  display: inline-block;
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: 20px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  margin: 0px -7px;

}

.marker:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 16px solid;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: -18.6px;
  left: -8px;
}
