/*** GENERAL ***/

body {
  font-family: sans-serif;
  background-color:  grey; /* #181818;  #003366;*/
  color: white;
}


/*** LAYOUT ***/
#sidebar {
    width: 20%;
    max-width: 25%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fcfcfc;
    color: #181818;  /*#003366;*/
    padding: 2rem;
}

#content {
  width: 75%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dealer {
  /*display: flex;*/
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  /*flex-grow: 1;*/
  color: #181818;
}

/** BUTTONS **/

.button {
  color: white;
  background-color: #181818;  /*#003366;*/
  padding: 8px;
  border-radius: 5px;
}

a.button {
  text-decoration: none;
}

button {
  color: white;
  background-color: #181818;  /*#003366;*/
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #181818;
  font-size:1em;
  cursor: pointer;
}

button[name="start"] {
  color: #181818;
  background-color: white;
  padding: 40px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 3em;
}

button[name="join"] {
  font-size: 2em;
  padding: .5em;
}

button[name="deal-3"]:disabled {
  opacity: 0.2;
}

/*** PRE-GAME ***/

#player-form {
  text-align: center;
}

#player-form p,
#player-form input,
#player-form select {
  font-size: 3rem;
}

#player-form select {
  vertical-align: middle;
}

#player-form select {
  background-color: white;
  font-size: .75em;
}


/*** SCORES ***/
#players {
  margin-top: 3rem;
}

.player {
  color: black;
  /*background-color: #003366;*/
  padding: 8px;
  border-radius: 5px;
  margin: 5px auto;
  border: 1px solid black;
  font-weight: bold;
}

.me {
  padding-top:1em;
  padding-bottom:1em;
  font-size:1.5em;
}

.score {
  float: right;
}

/* Player colors */
.pcol-1 {
  background-color: #FFBAE0; /* pale red */
}
.pcol-1.marker:before {
  border-top-color: #FFBAE0;
}

.pcol-2 {
  background-color: #FFE3A3; /* pale orange */
}
.pcol-2.marker:before {
  border-top-color: #FFE3A3;
}

.pcol-3 {
  background-color: #FCFF98; /* pale yellow */
}
.pcol-3.marker:before {
  border-top-color: #FCFF98;
}

.pcol-4 {
  background-color: #B5FFA5; /* pale green */
}
.pcol-4.marker:before {
  border-top-color: #B5FFA5;
}

.pcol-5 {
  background-color: #A5E3FF; /* pale blue */
}
.pcol-5.marker:before {
  border-top-color: #A5E3FF;
}

.pcol-6 {
  background-color: #EEAAFC; /* pale purple */
}
.pcol-6.marker:before {
  border-top-color: #EEAAFC;
}


/* other ideas for player color options */
/*red: #e11d21
orange: #eb6420
light green: #009800
dark green: #006b75
light blue: #207de5
dark blue: #0052cc
purple: #5319e7*/
