div#board
    each card in dealt
        div(class="card")
            div(class="card-content")
                p= card.color
                p= card.fill
                p= card.number
                p= card.shape
